venv/
__pycache__/
*.pyc
*.pkl
embeddings/
snapshots/
attendance_logs/
*.mp4
*.avi
*.log
.env.ipynb_checkpoints/
attendance_logs/
snapshots/
unknown_faces/
embeddings/
employees_structured/
Ali/
*.mp4
test.jpg
